// Colors

$white: #fff;
$black: #000;
$black-10: lighten($black, 10%);
$black-20: lighten($black, 20%);
$black-40: lighten($black, 40%);
$black-60: lighten($black, 60%);
$black-80: lighten($black, 80%);
$black-90: lighten($black, 90%);


$red: #ff0000;
$red-5: darken($red, 5%);
$red-10: darken($red, 10%);



// Font Sizes
$normal: 14px;
$h1: 26px;
$h2: 24px;


// screen sizes
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;



