// Colors

$white: #fff;
$black: #000;
$black-10: rgba($black, 0.1);
$black-20: rgba($black, 0.2);
$black-40: rgba($black, 0.4);
$black-60: rgba($black, 0.6);
$black-80: rgba($black, 0.8);

$red: #ff0000;
$red-20: rgba($red, 0.2);
$red-40: rgba($red, 0.4);
$red-60: rgba($red, 0.6);
$red-80: rgba($red, 0.8);

