@import './global/default.scss';

* {
    font-family: 'Open Sans', sans-serif;
    font-size: $normal;
    color: $black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    > div.__nuxt{
        > div.__layout {
            height: 100%;
        }
        height: 100%;
    }
    height: 100%;
    margin: 0;
    padding: 0;  
}
.default-content {
    &-container.is-editing {
        textarea {
            width: 100%;
        }
    }
}