// Basic
$white: #fff;
$black: #000;
$black-10: lighten($black, 10%);
$black-20: lighten($black, 20%);
$black-40: lighten($black, 40%);
$black-60: lighten($black, 60%);
$black-80: lighten($black, 80%);
$black-90: lighten($black, 90%);

// Main Color
$red: #ff0000;
$red-5: darken($red, 5%);
$red-10: darken($red, 10%);